[Unit]
Description=Recompiles vmware modules
Requires=vmware.service
Before=vmware.service
ConditionPathExists=!/dev/vmmon

[Service]
Type=oneshot
ExecStart=/usr/bin/vmware-modconfig --console --install-all

[Install]
WantedBy=multi-user.target

